body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    /* text-align: center; */
}

h1 {
    margin: 0;
    font-size: 28px;
}

.name, .reason {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.label {
    font-weight: bold;
}

form {
    text-align: left; /* Align form elements to the left */
}

.rejection-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}
