@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.card1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-size: 24px;
}

.name,
.reason {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.label {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.mailBtns{
    display: flex;
    justify-content: space-between;
}

.accept-button,
.reject-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.accept-button {
    background-color: #4CAF50;
    color: #fff;
}

.reject-button {
    background-color: #FF5733;
    color: #fff;
}


@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
    .card1 {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 20px;
    }
}